prometheus_monitoring['enable']       = false
gitlab_rails['initial_root_password'] = 'mydemo123'
gitlab_rails['external_url']          = '{{ gitlab_public_dns }}'
external_url                          = '{{ gitlab_public_dns }}'
